<footer class="footer">
  <small>
    <p> By <a href="http://zfisch.com">Zack Fisch</a> &copy; 2014 </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>