<footer class="footer">
  <small>
    <p> By <a href="http://zfisch.com">Zack Fisch</a> &copy; 2014 </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>